---
import { Image } from "astro:assets";

interface Props {
	src: string;
  alt: string;
  width: number;
  max_width: number;
  height: number;
  sub: string;
}

const { src, alt, width, height, max_width, sub } = Astro.props;
---

<div class="big-container">
  <Image src={src} alt={alt} width={width} height={height} style=`max-width: ${max_width}px; width: 100%; height: auto;` /> 
  <sub>{sub}</sub>
</div>

<style>
  sub {
    display: block;
    text-align: center;
    margin: 1.1rem 0 2rem 0;
  }
</style>

